html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    color: white;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: gray;
}

a:hover{
    color: black;
    transition: 0.2s;
}

nav a{
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: gray;
    transition: 0.2s;
}

header{
    background-color: rgba(0, 0, 0);
    height: 71px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
}

.verticalList{
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.verticalList img{
    height: 100%;
}

nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;
}

main{
    background-color: #412727;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

main>div{
    width: 80%;
    height: 100%;
    background-color: white;
    color: black;
    padding-left: 2rem;
    margin-top: 4rem;
}

footer{
    background-color: rgba(31, 31, 31, 0.76);
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
