#images{
    display: flex;
    flex-wrap: wrap;
}

.element {
    height: 90px;
    width: 90px;
    border-radius: 15px;
    margin: 5px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
    grid-template-areas:
                "Number1 Number1 Number2 Number2"
                "Symbol Symbol Symbol Symbol"
                "Name Name Name Name";

    .symbol{
        grid-area: Symbol;
        font-size: 35px;
        text-align: center;
    }

    .name{
        grid-area: Name;
        text-align: center;
    }

    .number1{
        grid-area: Number1;
        margin: 10px 10px 0 0;
        margin: 10px 0 0 10px;
    }

    .number2{
        grid-area: Number2;
        text-align: right;
        margin: 10px 10px 0 0;
    }



    &.standard{
        background-color: #365977;
    }

    &.metal{
        background-color: #af95c4;
    }

    &.metalloid{
        background-color: #f1ce37;
    }

    &.halogen, &.nonmetal{
        background-color: #acc780;
    }

    &.alkali.metal{
        background-color: #b32430;
    }

    &.alkaline.earth.metal{
        background-color: #e3a632;
    }

    &.transition.metal{
        background-color: #a2bde1;
    }

    &.noble.gas{
        background-color: #e4b0c9;
    }

    &.lanthanoid{
        background-color: #5996d1;
    }

    &.actinoid{
        background-color: #92c6a9;
    }
}